<div class="container">
  <div class="row">
    <div class="col">
      <div class="comments">
        {{#each this}}
        <div class="card post comment-box mb-3">
          <div class="card-body post-body">
            <p class="card-text comment-text">{{comment_text}}</p>
            <p class="card-text comment-author">-{{user.username}}, {{format_date created_at}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
